/ {
    behaviors {
        semi_dot: mod_morph_semidot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp DOT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        colon_slash: mod_morph_colonslash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp KP_DIVIDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
